/*
  All modal CSS in this file. I decided to separate it for clarity.
*/

.modal {
 display: none;
 position: fixed;
 z-index: 50;
 left: 0;
 top: 0;
 width: 100%;
 height: 100%;
 overflow: auto;
 background-color: #000;
 background-color: rgba(0,0,0,0.4);
}

.modal-content {
 background-color: rgba(255,255,255,.8);
 margin: 15% auto;
 padding: 20px;
 border: 1px solid #888;
 width: 30%;
}

.modal-content img {
  width: 260px;
}


.close {
 color: #aaa !important;
 font-size: 28px;
 font-weight: bold;
 position: absolute;
 right: 15px;
 top: 2px;}

.close:hover,
.close:focus {
 color: #000;
 text-decoration: none;
 cursor: pointer;
}

.frog-artist {
  text-align: right;
}

.list-artists div {
  padding: 10px;
  display: inline-block;
}

.frog-artist a, a:visited, .list-artists a, a:visited {
  font-size: 20pt;
  color: #157e91;
  text-decoration: none;
  transition: 300ms;
  border-bottom: 1px solid transparent;
}

.frog-artist a:hover, .list-artists a:hover {
  color: #000;
  border-color: #000;
}

.new-card-header {
  background-color: #a6d771;
  padding: 10px;
  width: 60%;
  margin: 0 auto;
  border-radius: 50px;
  font-family: Helvetica, "Trebuchet MS", Verdana, sans-serif;
  font-size: 2em;
}
